@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	--sans: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: "CozetteVector", Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 0px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-off-black);
	--color-placeholder: var(--color-gray-dark);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-white);
	--color-form-fg: var(--color-off-black);
	--color-border: var(--color-gray-light);
	--color-selection: var(--color-gray-light);
  --color-highlight: var(--color-yellow);
}

body {
	line-height: 1.4;
}

main {
	position: relative;
	font-size: clamp(18px, 2vw, 32px);
}

.color-green {
	background-color: var(--color-green);
}

.color-pink {
	background-color: var(--color-pink);
}
