@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans: "National 2 Web", Helvetica, Arial, sans-serif;
	--serif: "Tiempos Text Web", Georgia, Times, serif;
	--mono: "SHPinscher", Menlo, Consolas, Monaco, "Courier New", monospace;
	
	/* z-index */
	--z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
	--z-overlay: 1000;

	/* presets */
	--border-radius: 0px;
	--font-body: var(--mono);
	--font-form: var(--mono);
	--background-body: var(--color-white);
  --background-form: var(--color-gray-dark);
	--color-body: var(--color-off-black);
	--color-placeholder: var(--color-gray-dark);
  --color-link: var(--color-purple);
  --color-focus: var(--color-red);
	--color-form: var(--color-off-black);
	--color-border: var(--color-gray-light);
	--color-selection: var(--color-gray-light);
  --color-highlight: var(--color-yellow);
}

body {
	font-size: 24px;
	line-height: 1.2;
}

main {
	position: relative;
}

@media only screen and (min-width: 640px) {
	body {
		font-size: 28px;
	}
}

