@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
  --sans: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif;
  --serif: "Tiempos Text Web", Georgia, Times, serif;
  --mono: "CozetteVector", Menlo, Consolas, Monaco, "Courier New", monospace;

  /* z-index */
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  /* presets */
  --border-radius: 0px;
  --font-body: var(--mono);
  --font-form: var(--mono);
  --color-bg: var(--color-white);
  --color-fg: var(--color-off-black);
  --color-placeholder: var(--color-gray-dark);
  --color-link: var(--color-gray-dark);
  --color-focus: var(--color-red);
  --color-form-bg: var(--color-white);
  --color-form-fg: var(--color-off-black);
  --color-border: var(--color-gray-light);
  --color-selection: var(--color-gray-light);
  --color-highlight: var(--color-yellow);
}

body {
  line-height: 1.4;
	touch-action: manipulation;
}

main {
  position: relative;
  font-size: clamp(17px, 1.5vw, 30px);
}

a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 90%;
  background-size: 100% 0.1em;
  background-repeat: no-repeat;
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(var(--color-peanut), var(--color-peanut));
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

h1 {
  line-height: 1.2;
}

summary {
  cursor: pointer;
}

details p {
  font-size: 0.9em;
  padding: 0 1.25em;
}

@media only screen and (min-width: 640px) {
	details p {
		font-size: 0.75em;
	}
}